$dark-primary-color: #388E3C;
$light-primary-color: #C8E6C9;
$primary-color: #4CAF50;
$white-color: #fff;
$accent-color: #8BC34A;
$primary-text-color: #212121;
$secondary-text-color:#757575;
$divider-color: #BDBDBD;
$blue: blue;
$violet: violet;
$event-color: yellow;